{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chatbot de Ahorro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-log"></div>
        <form id="chat-form" method="post">  <!-- Agrega un formulario alrededor del contenido -->
            {% csrf_token %}   <!-- Incluye el token CSRF en el formulario -->
            <input type="text" id="user-input" placeholder="Escribe un mensaje...">
            <button id="send-btn">Enviar</button>
        </form>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
